body {
    background-image: url('../images/block.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 3em;
    
    ul{
        list-style-type: none;
    }
    
    #contentBubble{
        width:80%;
        background:#494949;
        margin-top: 7%;
        padding: 2%;
        border-radius: 10px;
        margin-bottom: 7%;
        
    }

    #conversationsimg{
        width: 60%;
    }
    
    a {
      color: #0F0;
      text-decoration: none;
    }
    a:active{
      color: #0F0;
    } 
    a:visited{
      color: rgb(0, 255, 0);
    }
    a:hover{
      color: black;
    }
  }
  